
.container {
  display: flex;
  flex-direction :column;  
  margin:auto;
  position:relative ;
  background-color:#006366;
}
.frame {
  display: flex;
  flex-direction :column;  
  margin:auto;
  position:relative ;
  background-color:#006366;
}
.landingImage { 
    position:relative ;  
}
.navbar {  
  display:flex;
  margin: 10px 5% 10px;  
  width: 90%;
  position:absolute ;
  align-items:center;
  justify-content:space-between;
  
}
.logo {
  display:flex;
  font-weight:bolder;
  font-family: Merryweather;
  font-size:24px;
  color:#006366;
  align-items:center;
  width:auto;
}
.logoTxt{
  padding-left:1rem;
}


